# manual bridge claiming
bridge-deposits.json
claimable-txs.json
proof.json

# docs
.vscode
.code
.idea
site/
venv/
env/
*.out
node_modules/
.DS_Store
**/.DS_Store
*.iml
temp_dir/
params.yml

# prod values
*secret*

# Files used for existing L1
templates/contract-deploy/combined.json
templates/contract-deploy/dynamic-kurtosis-allocs.json
templates/contract-deploy/dynamic-kurtosis-conf.json
templates/contract-deploy/genesis.json
anvil_state.json

hack-allocs
sovereign-fep/zkevm-contracts/
sovereign-fep/erigon-config/
sovereign-fep/data/
sovereign-fep/deploy_output.json
sovereign-fep/create_new_rollup.json
sovereign-fep/create_rollup_output.json
sovereign-fep/create_rollup_parameters.json
sovereign-fep/aggkit-oracle/
sovereign-fep/aggkit-config.toml
sovereign-fep/zkevm-bridge-config.toml
sovereign-fep/aggkit-prover-config.toml
sovereign-fep/genesis.json
sovereign-fep/create.json
sovereign-fep/lxly-bridge-and-call/
sovereign-fep/aggkit-bridge/
sovereign-fep/zkevm-bridge/
sovereign-fep/aggkit-sender/
sovereign-fep/aggkit-prover/
sovereign-fep/aggkit-oracle/

